.amarillo {
    background-color: yellow;
}

.rojo {
    background-color: red;
}

.verde {
    background-color: green;
}

.anaranjado {
    background-color: orange;
}

.celeste {
    background-color: skyblue;
}

.violeta {
    background-color: blueviolet;
}